body {
  margin: 10px;
  font-family: "Nunito";
  background-color: antiquewhite;
}

button {
  font-size: 0.9rem;
  padding: 0.5rem;
  margin: 0.3rem;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 25% 10%;
  background-color: #608a44;
}

button:hover {
  background-color: darkkhaki;
  color: black;
}

span {
  font-size: 1rem;
}

th {
  text-align: right;
}

td {
  text-align: left;
  padding-left: 1rem;
  vertical-align: bottom;
}

table {
  margin: 2rem;
}

#space {
  line-height: 2rem;
}


#poke {
  position: absolute;
  top: 8%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container {
  position: relative;
  width: 100%; /*width 100% of viewport*/
  max-width: 800px; /*max-width is 800px should viewport be wider*/
}

.container #pitch {
  width: 100%;  /*width of pitch 100% of container*/
  height: auto; /*height will scale as width changes*/
}

/*
@media only screen and (max-height: 960px) and (orientation: landscape) {
  #pitch {
    width: 67vh;
    height: 67vh;
  }
}

@media only screen and (max-width: 960px) and (orientation: portrait) {
  #pitch {
    width: 67vw;
    height: 67vw;
  }
}

@media only screen and (max-height: 720px) and (orientation: landscape) {
  #pitch {
    width: 80vh;
    height: 80vh;
  }
}

@media only screen and (max-width: 720px) and (orientation: portrait) {
  #pitch {
    width: 80vw;
    height: 80vw;
  }
}
*/
